<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>扫描结果: {{ path }}</title>

    <style>
        .container {
            max-width: max(75%, 900px);
            margin: 0 auto;
        }

        .summary {}

        .details {}

        .detail-header {
            font-size: 1.1em;
        }

        tr.detail-header + tr {
            font-weight: bold;
            background-color: aliceblue;
        }

        .copyright {
            text-align: center;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="summary">
            <h1>共 {{ group_count }} 条结果</h1><br>
            <h3>扫描模式：{{ parameter }}</h3>
        </div>
        <div class="details">
            <table>
                {% for group in groups %}
                <tr class="detail-header">
                    <td># {{ group.index }}</td>
                </tr>
                {% for file in group.files %}
                <tr>
                    <td>{{ file.ino }}</td>
                    <td>{{ file.path }}</td>
                    <td>{{ file.size }}</td>
                </tr>
                {% endfor %}
                {% endfor %}
            </table>
        </div>
    </div>
    <div class="copyright">
        Generate by <a href="https://github.com/sunnysab/d2fn">d2fn</a>, @copy; 2023 sunnysab
    </div>
</body>
</html>